.main-container {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
  }
}

.col-1, .col-2 {
  background: var(--color-shape-body);
  height: 100%;
  border-radius: 12px;
  padding: 20px;
}

.col-2 > .container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.form-container {
  display: grid;
  gap: 48px;
}