html {
 background-color: var(--color-shape-background);
 color: var(--color-text-body);
 font: var(--font-body-md-rg);

 & .container { 
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 5fr;

   & header {
     height: 100%;
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & svg {
      margin: 32px 0 0 32px;
    }

    & .text {
      padding: 32px;
      
      & h1 {
        font: var(--font-logo);
        color: var(--color-accent-3);
      }
      
      & p {
        font: var(--font-body-md-rg);
        color: var(--color-text-body);
      }
    }
  }
}

}