html {
 background-color: var(--color-shape-background);
 color: var(--color-text-body);
 font: var(--font-body-md-rg);
 overflow: hidden;

& .sr-only{
	border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

 & .general-container { 
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 20px;
  gap: 20px;

   & header {
    height: calc(100vh - 40px);
    background: linear-gradient(180deg, rgba(33, 37, 38, 0.80) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.30) 40.5%, rgba(33, 37, 38, 0.10) 100%), url('../img/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 12px;

    & svg {
      margin: 32px 0 0 32px;
    }

    & .text {
      padding: 32px;
      
      & h1 {
        font: var(--font-logo);
        color: var(--color-accent-3);
      }
      
      & p {
        font: var(--font-body-md-rg);
        color: var(--color-text-body);
      }
    }
  }

  & main {
    height: calc(100vh - 40px);
    background-color: var(--color-shape-body);
    border-radius: 12px;
    padding-block: 80px;
    overflow: scroll;
    
    & .container {
      height: 100%;
      width: 560px;
      margin: 0 auto;
      
      display: flex;
      flex-direction: column;
      gap: 56px;

      & .section-form {
        
        & .title {
          display: flex;
          gap: 12px;
          align-items: center;
        }

        & form {
          display: flex;
          flex-direction: column;
          gap: 48px;
          padding-bottom: 80px;

          & fieldset {
            & legend {
              margin-bottom: 24px;
            }
        
            border: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 24px;
          }

          & label, & .label {
            display: block;
            font: var(--font-body-sm-rg);
            margin-bottom: 12px;
          }

          & label + .radio-inner {
            margin-top: 1rem;
          }
          
          & .radio-inner {
            border: 1px solid var(--color-input-stroke);
            border-radius: 50%;
            position: relative;
            
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--color-shape-button);
            transition: background-color 0.2s ease-in-out;
            
            &:hover, &:focus {
              background-color: var(--color-input-stroke);
            }

            & input,
            & input:focus,
            & input:hover {
              all: unset;
              position: absolute;
              inset: 0;
              cursor: pointer;
            }

            & .radio-color {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              position: absolute;
            }

            & input:checked {
              outline: 2px solid var(--color-brand-light);
              border-radius: 50%;
            }
          }

          & .themes {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
          
            & .radio-inner-2 {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: center;
            background-color: var(--color-shape-button);
            border: 1px solid var(--color-input-stroke);
            padding: 4px 4px 8px 4px;
            border-radius: 8px;
            position: relative;
            width: 134px;

            & input,
            & input:focus,
            & input:hover {
                all: unset;
                position: absolute;
                inset: 0;
                cursor: pointer;
              }

              & input:checked {
                outline: 2px solid var(--color-brand-light);
                border-radius: 8px;
              }

              &:hover, &:focus {
                background-color: var(--color-input-stroke);
              }
            }
          
          }

          

          & input, & textarea {
            height: 48px;
            border-radius: 8px;
            border: 1px solid var(--color-input-stroke);
            background-color: var(--color-input-background);
            color: var(--color-text-body);
            padding: 16px 12px;
            width: 100%;
          }

          & textarea {
            min-height: 120px;
            resize: vertical;
          }

          & .grid-group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            & .button-group {
              background: var(--color-input-background);
              height: 48px;
              padding: 4px;
              border-radius: 8px;
              border: 1px solid var(--color-input-stroke);

              display: grid;
              grid-template-columns: repeat(2, 1fr);

              & .tab-button {
                border-radius: 5px;
                background: transparent;
                border: none;
                color: var(--color-text-body);
                font: var(--font-body-md-rg);
                padding: 0 16px;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                width: 100%;
                
                &.active {
                  background: var(--color-shape-button);
                  font: var(--font-body-md-sb);
                  color: var(--color-brand-light);
                }

                & span {
                  color: var(--color-text-title);
                }
              }
            }
            
            & .form-group {
              flex: 1;
            }
          }

          & .colors {
            margin-top: 16px;
            display: flex;
            gap: 12px;

            & .color {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 6px solid var(--color-shape-button);
              cursor: pointer;
              outline: 2px solid transparent;
              transition: border-color 0.2s ease-in-out;

              &.active {
                outline: 2px solid var(--color-brand-light);
              }

              &:hover {
                border-color: var(--color-input-stroke);
              }
            }
          }

          
        }
      }
    }

    & h2 {
      font: var(--font-title-md);
    } 

    & h3 {
      font: var(--font-title-sm);
    }
  }
}

}